<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <article>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Mateus</ion-card-subtitle>
                <ion-card-title>Souza</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 1</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Bruno</ion-card-subtitle>
                <ion-card-title>aragao</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 2</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Otavio</ion-card-subtitle>
                <ion-card-title>Batista</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 3</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Gabriel</ion-card-subtitle>
                <ion-card-title>guedes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 4</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Bruna</ion-card-subtitle>
                <ion-card-title>Lima</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 5</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Brenda</ion-card-subtitle>
                <ion-card-title>aragao</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 6</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Beatriz</ion-card-subtitle>
                <ion-card-title>Souza</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 7</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Leticia</ion-card-subtitle>
                <ion-card-title>santos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 8</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Ricardo</ion-card-subtitle>
                <ion-card-title>aragao</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 9</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Petrick</ion-card-subtitle>
                <ion-card-title>aragao</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 10</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Belinda</ion-card-subtitle>
                <ion-card-title>Barboza</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 11</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Brian</ion-card-subtitle>
                <ion-card-title>Droga</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Convidado 12</ion-label>
                        <ion-icon slot="end" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

    </article>
</ion-content>